# Node modules
node_modules/

# Logs
*.log
logs/

# Environment files
.env

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Miscellaneous
*.tgz
*.gz
*.swp
